# OS

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/
*.iml

# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
.env
venv/
.venv/

# Java

*.class
*.jar
*.war
*.ear
hs_err_pid*

# C / C++

*.o
*.out
*.exe

# Node (혹시 SQL 테스트용)

node_modules/

# Logs

*.log

# Temporary files

*.tmp
*.swp

# macOS

.DS_Store

# Windows

Thumbs.db

# test files

*.test
